/* ==============
   Style de base
   ============== */

html {
  color: white;
  background-color: black;
}

.developpement {
  padding: 0 100px;
}

nav a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #dfebeb;
  text-shadow: 2 2 2 red;
}

.menu {
  display: flex;
  gap: 7.8125rem;
  padding: 20px;
}

header {
  display: flex;
  padding: 20px;
  align-items: start;
  justify-content: space-between;

  aspect-ratio: 16/9;
  /* padding-bottom: 45vh; */

  background-image: url("Images/hans.webp");
  background-size: cover; /* L'image couvre tout l'espace disponible */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat;
}

.grid h2 {
  margin-top: 4px;
  color: white;
  font-weight: 400;
}

.grid img {
  max-width: 100%;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* =======================
   EXEMPLE de Media Query
   ======================= */

@media only screen and (min-width: 900px) {
  html {
    background-color: black;
  }
}

@media only screen and (min-width: 560px) {
  .Apropos {
    column-count: 2;
  }
}

@media only screen and (min-width: 930px) {
  .Apropos {
    column-count: 3;
  }
}

@media only screen and (min-width: 1300px) {
  .Apropos {
    column-count: 4;
  }
}
