@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

/* ==============
   Style de base
   ============== */

body {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  padding: 35px;
  align-items: start;
  justify-content: space-between;

  aspect-ratio: 16/9;
  /* padding-bottom: 45vh; */

  background-image: url("Images/hans.webp");
  background-size: cover; /* L'image couvre tout l'espace disponible */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat;
}

header h1 {
  font-size: 7.5rem;
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
}

.menu {
  display: flex;
  gap: 30px;
  padding: 0%;
}

section {
  margin-bottom: 30px; /* Ajoute un espace de 30px sous chaque section */
  padding: 20px; /* Ajoute un espacement interne à chaque section */
  background-color: #f0f0f0; /* Couleur de fond légère pour les sections */
}

html {
  color: white;
  background-color: black;
}

.developpement {
  padding: 200px 100px;
}

a:hover {
  color: #dfebeb;
  text-shadow: 2 2 2 red;
}

.iscographie {
  padding: 200px 100px;
}

.grid h2 {
  margin-top: 4px;
  color: white;
  font-weight: 400;
}

.grid img {
  max-width: 100%;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

video {
  width: 100%;
  height: auto;
}

/* =======================
   EXEMPLE de Media Query
   ======================= */

@media only screen and (min-width: 900px) {
  html {
    background-color: black;
  }
}

@media only screen and (min-width: 560px) {
  .Apropos {
    column-count: 2;
  }
}

@media only screen and (min-width: 930px) {
  .Apropos {
    column-count: 3;
  }
}

@media only screen and (min-width: 1300px) {
  .Apropos {
    column-count: 4;
  }
}
